<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="stylesheet"
			href="/assets/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="/assets/css/styles.css"
		/>
		<script
			src="/assets/js/bootstrap.bundle.min.js"
			defer
		></script>
		<title>My Album</title>
	</head>
	<body>
		<main class="container-md">
			<%- include('partials/nav') %>
			<div class="form-body">
				<div class="row">
					<div class="form-holder">
						<div class="form-content">
							<div class="form-items">
								<h3>Them tac gia</h3>
								<form
									method="POST"
									action="/authors/"
									class="requires-validation"
									novalidate
									enctype="multipart/form-data"
								>
									<div class="col-md-12">
										<input
											class="form-control"
											type="text"
											name="authorName"
											placeholder="Ten tac gia"
											required
										/>
										<div class="invalid-feedback">Khong duoc de trong !</div>
									</div>

									<div class="col-md-12">
										<input
											class="form-control mt-3"
											type="date"
											name="dob"
											id="dob"
											value="<%= (new Date()).toString() %>"
										/>
									</div>

									<div class="col-md-12 mt-3">
										<label class="ms-3">Avatar</label>
										<input
											class="form-control"
											type="file"
											name="avatar"
										/>
									</div>

									<div class="form-button mt-3">
										<button
											id="submit"
											type="submit"
											class="btn btn-primary"
										>
											Them
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
