<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>404 Page</title>
		<link
			rel="stylesheet"
			href="/assets/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="/assets/css/styles.css"
		/>
		<script
			src="/assets/js/bootstrap.bundle.min.js"
			defer
		></script>
	</head>

	<body>
		<div
			class="d-flex align-items-center justify-content-center vh-100 bg-primary"
		>
			<h1 class="display-1 fw-bold text-white">404</h1>
		</div>
	</body>
</html>
